<div class="panel panel-default">
  <div class="panel-heading">
    <%= post.created_at.to_date %>
     -
    <%= post.user.name %>
  </div>
  <div class="panel-body">
    <%= post.content %>
  </div>
</div>