<h4 style="text-align: center">Add Course Material</h4>
<div class="well">
  <%= bootstrap_form_tag url:course_material_path(@tasks.id) ,method: 'patch' do |f|%>
      <%= f.text_field :title, :placeholder => 'Title' , value: @tasks.title%>
      <%= f.text_area :description, :placeholder => 'Description', value: @tasks.description %>
      <label>Deadline</label>
      <div class='input-group date' id='datetimepicker1'>
        <input placeholder="mm/dd/yyyy hh:mm" class="form-control" name="deadline" id="deadline" type="text" >
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
      <script type="text/javascript">
        $(function () {
          $('#datetimepicker1').datetimepicker();
        });
      </script>
      <br/>
      <%= f.submit 'Update Material', class: 'btn btn-default'%>
  <% end %>
</div>