<div class="well">
  <h3>Current</h3>
</div>
<% @current.each do |c| %>
    <%= render 'courses/course', course: c %>
<% end %>

<div class="well">
  <h3>Past</h3>
</div>
<% @past.each do |c| %>
    <%= render 'courses/course', course: c %>
<% end %>